<div class="jumbotron">
  <div class="contact">
     <ul>
       <h3>Mentor</h3>
       <li><a href="#">A108 Adam Street</a></li>
       <li><a href="#">New York, NY 535022 United States</a></li>
       <li><a href="#">Phone: +1 5589 55488 55</a></li>
       <li><a href="#">Email: info@example.com</a></li>
     </ul>
    <ul>
       <h5>Useful Links</h5>
       <li><a href="#"> Home</a></li>
       <li><a href="#">About us </a></li>
       <li><a href="#">Services</a></li>
       <li><a href="#">Terms of service</a></li>
       <li><a href="#">Privacy policy</a></li>
    </ul>
    <ul>
       <h5>Our Services</h5>
       <li><a href="#">Web Design</a></li>
       <li><a href="#">Web Development</a></li>
       <li><a href="#">Product Management</a></li>
       <li><a href="#">Marketing</a></li>
      <li><a href="#">Graphic Design</a></li>
    </ul>
    <ul>
       <h5>Join Our Newsletter</h5>
       <li><a href="#">Tamen quem nulla quae legam multos aute sint culpa legam noster magna</a></li>

      <form class="form-inline" action="/action_page.php">
        <input class="form-control mr-sm-2" type="text">
        <button class="btn btn-success" type="submit">Subscribe</button>
      </form>
    </ul>
  </div>
    <div>
      <p class="foot-text">
        © Copyright <span style="font-weight: 500;">Mentor</span>. All Rights Reserved
    Designed by <a href="#">BootstrapMade</a>
      </p>
  </div>
</div>